# Đổi các giá trị này khi deploy production
AUTH_SECRET=please-change-this-long-random-secret-min-32-chars
ADMIN_USERNAME=admin
# Mặc định bên dưới là SHA256 của Admin@123456
ADMIN_PASSWORD_HASH=ad89b64d66caa8e30e5d5ce4a9763f4ecc205814c412175f3e2c50027471426d
