AUTH_SECRET=please-change-this-long-random-secret-min-32-chars
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=ad89b64d66caa8e30e5d5ce4a9763f4ecc205814c412175f3e2c50027471426d

NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
